.results {
    width: 94%;
    margin: 1em auto;
}

.Card {
	width: 25%;
}

#reactStrapOverride .CardBody {
    padding: .4em;
}

.CardImg {
    height: 200px;
    object-fit: cover;
    background-image: url(../img/loading.svg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.CardTitle {
    font-size: .8em;
}

.CardSubtitle {
    font-size: .6em;
}

.Button {
    position: relative;
    bottom: 0px;
}